<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.fhtagn.zoobeditor"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" 
                 android:label="@string/app_name"
                 android:theme="@style/Theme.Zoob"
                 android:name="EditorApplication">
        <activity android:name=".browser.Browser"
                  android:label="@string/app_name"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".browser.UploadActivity"/>
        <activity android:name=".browser.OnlineSerieViewActivity"/>
        <activity android:name=".browser.OfflineSerieViewActivity"/>
        <activity android:name=".browser.DownloadedActivity"/>
        <activity android:name=".browser.MySeriesActivity"/>
        <activity android:name=".browser.OnlineSeriesActivity"/>
        <activity android:name="Preferences"/>
        <activity android:name=".editor.SerieEditActivity"
                  android:configChanges="orientation" />
        <activity android:name=".editor.LevelOptionsActivity"
                  android:configChanges="orientation" />
        <activity android:name=".editor.SerieOptionsActivity"
                  android:configChanges="orientation" />
                  
        
        <activity android:name=".editor.EditorActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation">
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk android:minSdkVersion="3" />
</manifest> 